<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일정 - 확인</title>

    <style>
        body{
            width: 600px;
            margin: 0 auto;
        }
        hr{
            border-width: 1px 0 0 0;
            border-style: dotted;
            border-color: #bbb;
        }
    </style>
</head>
<body>

<p><strong>작성자</strong>　<span th:text="${schedule.user}"/> </p>
<hr>
<p><strong>제목</strong>　<span th:text="${schedule.title}"/></p>
<br>
<p th:text="${schedule.content}"/> </div>
<hr>
<p style="font-size: small" th:text="${schedule.date}"/>

<br><br>
<a href="/schedule">
    <button type="button">목록</button></a>
</body>
</html>